<?xml version="1.0"?>
<!--
/**
 * Copyright © Atma. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Atma_Redirects" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_UrlRewrite"/>
        </sequence>
    </module>
</config>
