<?xml version="1.0"?>
<!--
/**
 * Copyright © Atma. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="atma_redirects" frontName="atma_redirects">
            <module name="Atma_Redirects" before="Magento_Backend"/>
        </route>
    </router>
</config>
